#cloud-config
ssh_pwauth: false
users:
  - name: ubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}
    lock_passwd: true
    ssh_pwauth: false
    groups: sudo
    createhome: true    
    home: /home/ubuntu

# runcmd:
#   - curl https://raw.githubusercontent.com/elitak/nixos-infect/master/nixos-infect | NIX_CHANNEL=nixos-24.11 bash 2>&1 | tee /tmp/infect.log